{% extends 'main/base.html' %}

{% block title %}{% if page.title %}{{ page.title }}{% else %}{{ page.name }}{% endif %}{% endblock %}
{% block titletwitter %}{% if page.title %}{{ page.title }}{% else %}{{ page.name }}{% endif %}{% endblock %}
{% block titleog %}{% if page.title %}{{ page.title }}{% else %}{{ page.name }}{% endif %}{% endblock %}

{% block head %}
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}">{% endif %}
    {% if category.description %}
        <meta name="og:description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.image_meta %}
        <meta property="og:image" content="https://netbach.com
                {% if page.image_meta.resized_file %}{{ page.image_meta.resized_file.url }}{% else %}{{ page.image_meta.file.url }}{% endif %}">
    {% endif %}
    {% if page.image_meta %}
        <meta name="twitter:image" content="https://netbach.com
                {% if page.image_meta.resized_file %}{{ page.image_meta.resized_file.url }}{% else %}{{ page.image_meta.file.url }}{% endif %}">
    {% endif %}
    <meta property="og:type" content="page">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "CreativeWorkSeason",
            "name": "{{ page.title }}",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "5",
                    "ratingCount": "2780",
                    "bestRating": "5",
                    "worstRating": "1"
                }
            }
    </script>
    {% if faqs %}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "FAQPage",
                "mainEntity": [
                    {% for faq in faqs %}
                        {"@type": "Question", "name": "{{ faq.question }}", "acceptedAnswer": {"@type":"Answer","text":"{{ faq.answer }}"}}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }
        </script>
    {% endif %}
    <style>
        .card-server:hover {
            border-color: var(--primary-color-background) !important;
            cursor: pointer;
            transform: scale(1.02);
            transition: 0.3s linear;
        }
    </style>
{% endblock %}

{% block content %}
<div>
    <div class="container py-5">
        <div class="row mb-4">
            {% for server in server_list %}
            <div class="col-12 col-sm-3 mt-4">
                <a title="ساخت سرور ابری" href="{{ cloud_url }}server/create/" class="text-decoration-none text-black"><div class="text-center py-2 rounded-3 border bg-white card-server">
                    <p class="mt-2 fw-bold fs-5">{{ server.name }}</p>
                    <hr>
                    <p>Ram: {{ server.ram }}</p>
                    <p>CPU: {{ server.cpu }}</p>
                    <p>Disk: {{ server.disk }}</p>
                    <p>Traffic: {{ server.traffic }}</p>
                    <hr>
                    <p>روزانه: {{ server.price_day }}</p>
                    <p class="text-success fw-bold">ماهانه: {{ server.price }}</p>
                </div></a>
            </div>
            {% endfor %}
    </div>
</div>
<div class="pagination my-4 d-flex justify-content-center">
    {% if server_list.number|add:"-3" > 1 %}
        <a style="border: 1px solid var(--primary-color-background); height: 36px; width: 36px; border-radius: 50%" class="btn me-2"
            href="?page=1">1</a>
        <span class="mx-2">...</span>
    {% endif %}
    {% if server_list.has_previous %}
        {% for b in '123' %}
            {% if server_list.number|add:forloop.counter|add:"-3" > 1 %}
                <a style="border: 1px solid var(--primary-color-background); height: 36px; width: 36px; border-radius: 50%" class="btn me-2"
                    href="?page={{ server_list.number|add:forloop.counter|add:"-4" }}">{{ server_list.number|add:forloop.counter|add:"-4" }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    <button class="btn bg-primary text-white me-2" style="height: 36px; width: 36px; border-radius: 50%">{{ server_list.number }}</button>
    {% if server_list.has_next %}
        {% for b in '123' %}
            {% if server_list.paginator.num_pages|add:"1" > server_list.number|add:forloop.counter %}
                <a style="border: 1px solid var(--primary-color-background); height: 36px; width: 36px; border-radius: 50%" class="btn me-2"
                    href="?page={{ server_list.number|add:forloop.counter }}">{{ server_list.number|add:forloop.counter }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if server_list.paginator.num_pages > server_list.number|add:"3" %}
        <span class="mx-2">...</span>
        <a style="border: 1px solid var(--primary-color-background); height: 36px; width: 36px; border-radius: 50%" class="btn me-2"
            href="?page={{ server_list.paginator.num_pages }}">{{ server_list.paginator.num_pages }}</a>
    {% endif %}
</div>
<div class="my-5 mx-2 mx-sm-1">
    <div class="border shadow-sm rounded container">
        <h1 class="mb-4 mt-3">{{ page.name }}</h1>
        {% autoescape off %}
            {{ page.content }}
        {% endautoescape %}
    </div>
</div>
{% if faqs %}
<div class="container border pt-4 shadow-sm mt-5 bg-white d-flex flex-column rounded px-0">
    <h3 style="margin-bottom: 0.8rem !important;" class="align-self-center mb-3 mt-0 text-primary">سوالات متداول</h3>
    <div class="accordion mt-4" id="accordionFAQ">
        {% for faq in faqs %}
        <div class="accordion-item border-0 border-top">
            <div class="accordion-header" id="heading-{{ forloop.counter }}">
                <button style="color: #194BED" class="accordion-button justify-content-between collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-{{ forloop.counter }}" aria-expanded="false" aria-controls="faq-{{ forloop.counter }}">
                    {{ faq.question }}
                </button>
            </div>
            <div id="faq-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionFAQ">
                <div class="accordion-body text-natural">
                    {{ faq.answer }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if blogs %}
    <div class="container d-flex flex-column my-5 px-5 border rounded-3 py-4 shadow-sm">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <div class="bg-primary" style="height: 16px; width: 16px; border-radius: 50%"></div>
                <h3 class="mb-0 ms-2 mt-0">جدیدترین مقالات</h3>
            </div>
            <a title="مقالات نت بچ" class="btn btn-primary text-white" href="/blog/">مشاهده همه</a>
        </div>
        <div class="row mt-3 px-2">
            {% for blog in blogs %}
                <div class="col-12 col-sm-3 mt-4">
                    <div class="card h-100">
                        <a title="{{ blog.name }}" href="{% url 'blog:detail-blog' blog.slug %}">
                            <img class="img-fluid rounded-top" alt="{{ blog.name }}" title="{{ blog.name }}"
                                src="{% if blog.poster.resized_file %}{{blog.poster.resized_file.url}}{% else %}{{ blog.poster.file.url }}{% endif %}">
                        </a>
                        <div class="d-flex flex-column justify-content-between card-body pb-1 pt-3">
                            <h3 class="mt-0">
                                <a class="article-title text-decoration-none text-black fs-6 fw-bold"
                                    title="{{ blog.name }}"
                                    href="{% url 'blog:detail-blog' blog.slug %}">
                                    {{ blog.name }}
                                </a>
                            </h3>
                            <p class="text-natural card-description mt-3">{{ blog.content }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512">
                                    <path d="M160 25.4C143 9.6 120.2 0 95.2 0C42.6 0 0 42.6 0 95.2c0 18.8 5.5 36.3 14.9 51.1L160 25.4zM256 112a176 176 0 1 1 0 352 176 176 0 1 1 0-352zm0 400c53.2 0 102.1-18.6 140.5-49.5L423 489l17 17L473.9 472l-17-17-26.5-26.5c31-38.4 49.5-87.3 49.5-140.5C480 164.3 379.7 64 256 64S32 164.3 32 288c0 53.2 18.6 102.1 49.5 140.5L55 455l-17 17L72 505.9l17-17 26.5-26.5c38.4 31 87.3 49.5 140.5 49.5zM497.1 146.4C506.5 131.6 512 114 512 95.2C512 42.6 469.4 0 416.8 0C391.8 0 369 9.6 352 25.4L497.1 146.4zM280 184V160H232v24V288v9.9l7 7 48 48 17 17L337.9 336l-17-17-41-41V184z"></path>
                                </svg>
                                <span class="ms-2" style="font-size: 0.8rem">{{ blog.updated }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512">
                                    <path d="M117.2 136C160.3 96 217.6 64 288 64s127.7 32 170.8 72c43.1 40 71.9 88 85.2 120c-13.3 32-42.1 80-85.2 120c-43.1 40-100.4 72-170.8 72s-127.7-32-170.8-72C74.1 336 45.3 288 32 256c13.3-32 42.1-80 85.2-120zM288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM192 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"></path>
                                </svg>
                                <span class="ms-2" style="font-size: 0.8rem">{{ blog.view }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div id="telegram-wrapper" class="position-fixed bottom-0 end-0 me-4 mb-4 bg-white shadow" style="width: 64px; height: 64px; border-radius: 50%">
    <a href="tg://resolve?domain=NetBach" title="تلگرام نت بچ">
        <svg style="fill: #1663af" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
            <path d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z"></path>
        </svg>
    </a>
</div>
{% endblock %}