asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.1
Django==4.2.9
django-ckeditor==6.7.0
django-cors-headers==4.3.0
django-js-asset==2.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
hcloud==1.31.0
idna==3.4
jdatetime==4.1.1
linode-api4==5.9.0
Pillow==10.1.0
polling==0.3.2
pyaes==1.6.1
Pyrogram==2.0.106
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
six==1.16.0
smsir-python==1.0.7
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.7
