{% extends 'main/base.html' %}

{% block title %}نت بچ{% endblock %}


{% block content %}
<div class="w-100 text-center mt-5">
    <h2 class="fs-5 mb-3">خطای سرور داخلی !</h2>
    <div class="container primary-hover">
        <a href="/" class="text-decoration-none text-secondary-emphasis p-2" style="font-size: 13px;">صفحه اصلی</a>
    </div>
    <div class="container mt-3 overflow-x-hidden" style="height: fit-content; max-width: 300px;">
        <img src="/static/images/bg-500.png" alt="500">
    </div>
</div>
{% endblock %}