{% extends 'main/base.html' %}

{% block title %}{% if page.title %}{{ page.title }}{% else %}{{ page.name }}{% endif %}{% endblock %}
{% block titletwitter %}{% if page.title %}{{ page.title }}{% else %}{{ page.name }}{% endif %}{% endblock %}
{% block titleog %}{% if page.title %}{{ page.title }}{% else %}{{ page.name }}{% endif %}{% endblock %}

{% block head %}
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}">{% endif %}
    {% if category.description %}
        <meta name="og:description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.image_meta %}
        <meta property="og:image" content="https://netbach.com
                {% if page.image_meta.resized_file %}{{ page.image_meta.resized_file.url }}{% else %}{{ page.image_meta.file.url }}{% endif %}">
    {% endif %}
    {% if page.image_meta %}
        <meta name="twitter:image" content="https://netbach.com
                {% if page.image_meta.resized_file %}{{ page.image_meta.resized_file.url }}{% else %}{{ page.image_meta.file.url }}{% endif %}">
    {% endif %}
    <meta property="og:type" content="page">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}

{% block content %}
    <div >
        <div class="d-flex py-3 justify-content-center px-4 shadow" style="background-color: #0074e7;">
            <h1 class="text-white mt-0" style="line-height: 2.2rem">{{ page.name }}</h1>
        </div>
        <div class="container mt-5 mb-5">
            {% autoescape off %}
                {{ page.content }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}