{% extends 'panel/base.html' %}

{% block title %}صورت حساب ها{% endblock %}

{% block content %}
    <div class="container rounded-4 border bg-white p-4">
        <p class="fw-bold">لیست تمام صورت حساب های شما در این بخش وجود دارد.</p>
        {% if invoices %}
            <table class="table table-hover mt-5 table-item-dashboard">
                <thead class="bg-alert">
                    <th scope="col">#</th>
                    <th scope="col">IPv4</th>
                    <th scope="col">مبلغ</th>
                    <th scope="col">موجودی</th>
                    <th scope="col">تاریخ و ساعت</th>
                </thead>
                <tbody style="vertical-align: unset">
                    {% for invoice in invoices %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{% if invoice.server.ipv4 %}{{ invoice.server.ipv4 }}{% else %}{{ invoice.server.ipv6 }}{% endif %}</td>
                            <td>{{ invoice.cost_amount }}</td>
                            <td>{{ invoice.credit_amount }}</td>
                            <td>{{ invoice.created }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination mt-4 d-flex justify-content-center">
                {% if invoices.number|add:"-3" > 1 %}
                    <a style="border: 1px solid var(--primary-color-background); height: 36px; width: 36px; border-radius: 50%" class="btn me-2"
                       href="?page=1">1</a>
                    <span class="mx-2">...</span>
                {% endif %}
                {% if invoices.has_previous %}
                    {% for b in '123' %}
                        {% if invoices.number|add:forloop.counter|add:"-3" > 1 %}
                            <a style="border: 1px solid var(--primary-color-background); height: 36px; width: 36px; border-radius: 50%" class="btn me-2"
                               href="?page={{ invoices.number|add:forloop.counter|add:"-4" }}">{{ invoices.number|add:forloop.counter|add:"-4" }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <button class="btn bg-primary text-white me-2" style="height: 36px; width: 36px; border-radius: 50%">{{ invoices.number }}</button>
                {% if invoices.has_next %}
                    {% for b in '123' %}
                        {% if invoices.paginator.num_pages|add:"1" > invoices.number|add:forloop.counter %}
                            <a style="border: 1px solid var(--primary-color-background); height: 36px; width: 36px; border-radius: 50%" class="btn me-2"
                               href="?page={{ invoices.number|add:forloop.counter }}">{{ invoices.number|add:forloop.counter }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if invoices.paginator.num_pages > invoices.number|add:"3" %}
                    <span class="mx-2">...</span>
                    <a style="border: 1px solid var(--primary-color-background); height: 36px; width: 36px; border-radius: 50%" class="btn me-2"
                       href="?page={{ invoices.paginator.num_pages }}">{{ invoices.paginator.num_pages }}</a>
                {% endif %}
            </div>
        {% else %}
            <div class="bg-alert p-3 rounded-4">
                <span>موردی برای نمایش یافت نشد.</span>
            </div>
        {% endif %}
    </div>
{% endblock %}