{% extends 'panel/base.html' %}

{% block title %}فرایند پرداخت{% endblock %}


{% block content %}
    <div class="container rounded-4 border bg-white p-4">
        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center bg-success rounded-3 p-3">
                <span class="text-white">عملیات افزایش اعتبار با موفقیت انجام شد</span>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <a href="/">
                    <button class="btn btn-success p-3">انتقال به صفحه اصلی</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}